@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Varela Round', sans-serif;
  /*font-size: 16px;*/
  line-height: 2; }

.commertial--main {
  font-weight: bold;
  font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1900 - 700))) !important; }

.commertial--sub {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 700))) !important; }

.but:link, .but:visited {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 1.2rem 6rem;
  display: inline-block;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.25);
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  transition: all .2s; }

.but--white {
  background-color: #ffffff;
  color: #FF6473; }

.but:hover {
  background-color: #FF6473;
  color: #ffffff; }

.commertial_section {
  max-width: 140rem;
  margin: 0 auto; }
  .commertial_section__first {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5rem; }
  .commertial_section__second {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5rem; }

@media (min-width: 280px) {
  .commertial_section {
    max-width: 140rem;
    margin: 0 auto; }
    .commertial_section__first {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 0; }
    .commertial_section__second {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 0; } }

.blogers_section {
  max-width: 80%;
  margin: 0 auto; }
  .blogers_section__grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-gap: 30px; }

.subcription {
  max-width: 80%;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); }

.footer {
  max-width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr)); }

.footer {
  width: 100%;
  height: 40vh;
  font-size: 1.5rem;
  position: relative;
  background-color: #233142; }
  .footer__grid-box {
    max-width: 100%;
    height: 100%;
    position: relative; }
  .footer__list {
    list-style-type: none;
    border-top: red; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    display: inline-block; }
  .footer__icon--1 {
    font-size: 5rem;
    color: #5585e4; }
    .footer__icon--1:hover, .footer__icon--1:active {
      color: #4778db; }
  .footer__icon--2 {
    font-size: 5rem;
    color: #e0e0e0; }
    .footer__icon--2:hover, .footer__icon--2:active {
      color: #b6b6b6; }
  .footer__icon--3 {
    font-size: 5rem;
    color: #df4456; }
    .footer__icon--3:hover, .footer__icon--3:active {
      color: #cf3c4d; }
  .footer__pharagrap {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff; }
    .footer__pharagrap::first-letter {
      color: #FF6473; }

.footer-primary {
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  margin-top: 2rem;
  margin-left: 2rem; }
  .footer-primary--main {
    display: block;
    font-size: 2.5rem;
    position: relative;
    font-weight: 500; }
    .footer-primary--main::first-letter {
      color: #FF6473; }
  .footer-primary--sub {
    display: block;
    font-size: 1.5rem;
    position: relative;
    top: .5rem;
    letter-spacing: 1px; }

.header {
  height: 100vh;
  position: relative;
  background-color: gray; }
  .header__video-box {
    height: 100vh;
    overflow: hidden; }
    .header__video-box::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(35, 49, 66, 0.75); }
  .header__video {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    object-fit: cover; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 3rem;
    z-index: 50; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  font-family: 'Varela Round', sans-serif; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    letter-spacing: 15px;
    text-shadow: 2px 1px 3px #071D2B;
    position: relative;
    animation-name: moveInLeft;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    font-weight: bold; }
    .heading-primary--main::first-letter {
      color: #FF6473; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    color: #dfdfdf;
    text-shadow: 2px 1px 3px #071D2B;
    position: relative;
    letter-spacing: 8px;
    animation-name: moveInRight;
    animation-duration: .5s;
    animation-timing-function: ease-out; }

.button_container {
  position: fixed;
  top: 4%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  transition: opacity .25s ease;
  z-index: 101; }
  .button_container:hover {
    opacity: .9;
    z-index: 101; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
    z-index: 101; }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
    z-index: 101; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
    z-index: 101; }
  .button_container span {
    background: #FF6473;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
    z-index: 101; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  z-index: 100;
  background: #233142;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 100%;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: 100;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 80%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a::first-letter {
          color: #FF6473; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #FFF;
          transition: .35s; }

.subcription {
  max-width: 100%;
  background-color: #233142;
  position: relative; }
  .subcription__registration-box {
    font-family: 'Varela Round', sans-serif;
    display: block;
    max-width: 100%; }
    .subcription__registration-box ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      width: 100%; }
      .subcription__registration-box ul li {
        display: block;
        height: calc(100% / 2);
        min-height: 70px;
        position: relative;
        display: inline-block;
        padding: 1rem 2rem 0rem 2rem; }
        .subcription__registration-box ul li input {
          width: 100%;
          max-width: 25rem;
          box-sizing: border-box;
          border-radius: 5px;
          position: relative;
          top: -.7rem; }
        .subcription__registration-box ul li input[type=text] {
          padding: 1rem;
          font-size: 2rem; }

@media (max-width: 900px) {
  .subcription__registration-box {
    text-align: center; }
    .subcription__registration-box ul li {
      display: block; } }

.subcription-textbox {
  max-width: 80%;
  height: 20rem;
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  position: relative;
  top: 2rem;
  left: 2rem; }
  .subcription-textbox--main {
    display: block;
    font-size: 4rem;
    position: relative; }
    .subcription-textbox--main::first-letter {
      color: #FF6473; }
  .subcription-textbox--sub {
    display: block;
    font-size: 1.9rem;
    position: relative;
    top: .5rem;
    left: .2rem; }

.commertial_section {
  width: 100%;
  height: 160vh; }
  .commertial_section__first {
    width: 100%;
    height: 90vh; }
    .commertial_section__first__img {
      width: 80%;
      margin: 0 auto; }
    .commertial_section__first__text {
      max-width: 50rem;
      margin: 0 auto; }
  .commertial_section__second {
    width: 100%;
    height: 50vh; }
    .commertial_section__second__text {
      max-width: 50rem;
      text-align: right;
      margin: 0 auto; }
    .commertial_section__second__img {
      width: 80%;
      margin: 0 auto; }

.blogers_section {
  width: 100%;
  height: 100vh; }
  .blogers_section .blogers-textbox {
    color: #233142;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 4rem; }
    .blogers_section .blogers-textbox--main {
      display: block;
      font-size: 4rem;
      position: relative;
      letter-spacing: 10px;
      font-weight: 400; }
      .blogers_section .blogers-textbox--main::first-letter {
        color: #FF6473; }
    .blogers_section .blogers-textbox--sub {
      display: block;
      font-size: 2rem;
      position: relative;
      top: .5rem;
      letter-spacing: 1px; }
  .blogers_section__grid {
    max-width: 100%;
    margin-top: 10rem;
    position: relative; }
    .blogers_section__grid__box {
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      position: relative; }
      .blogers_section__grid__box__img, .blogers_section__grid__box .card-hover {
        max-width: 100%;
        height: 50rem;
        object-fit: cover;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background-size: cover; }
      .blogers_section__grid__box .card-hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 250ms; }
        .blogers_section__grid__box .card-hover:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          transform: scale(1.02); }
      .blogers_section__grid__box__paragraph {
        font-family: 'Varela Round', sans-serif;
        font-size: 2.5rem;
        font-weight: 400; }
