/// PRIMARY COLORS
$primary-color-first:#FF6473;
$primary-color-second:#233142;
$primary-color-third:#455D7A;
$font-white-color:#ffffff;
/// PRIMARY COLORS





$may-use-first:#F95959;
$may-use-second:#5CC1B3;
$may-use-third:#6EF7C8;