.header {
    height: 100vh;
    position: relative;
    background-color: gray;


    &__video-box {
        height: 100vh; 
        overflow: hidden;
    }


    // aq SHEVCVALE
    // MOBILE SURATI IQNEBA ==================================

    &__video {
        // width: 100vw;
        background-size: cover;
        background-position: top;
    }

    // &__nav-box{
    //     position:absolute;
    //     top: 10%;
    //     width: 50%;
    //     height: auto;
    // }

    &__logo-box {
        position: absolute;
        left: 4rem;
        top: 3rem;
    }

    &__logo {
        height: 5rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        // max-width:600px;
        transform: translate(-50%, -50%);
        // border: 1px solid red;
        text-align: center;
    }
}

.heading-primary {
    // border: 1px solid red;
    color: $font-white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    font-family: 'Varela Round', sans-serif;


    &--main {
        display: block;
        font-size: 6rem;
        letter-spacing: 20px;
        position: relative;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        &::first-letter {
            color: $primary-color-first;
        }
    }

    &--sub {
        display: block;
        font-size: 3rem;
        position: relative;
        letter-spacing: 15px;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }


}
