.but {
    &:link,
    &:visited {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
        padding: 1.2rem 5rem;
        display: inline-block;
        border-radius: 5px;
        font-size: 2rem;
        margin-bottom: 20px;
        -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.25); 
        box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.25);
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        transition: all .2s;
    }

    &--white {
        background-color: $font-white-color;
        color: $primary-color-first;
    }
    &:hover {
        background-color: $primary-color-first;
        color: $font-white-color;
    }
}





