.but {
    &:link,
    &:visited {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 5rem;
        display: inline-block;
        border-radius: 5px;
        font-size: 2rem;
        margin-bottom: 20px;
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--white {
        background-color: $font-white-color;
        color: $primary-color-first;
    }
    &:hover {
        background-color: $primary-color-first;
        color: $font-white-color;
    }
}


.but1 {
    &:link,
    &:visited {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 5rem;
        display: inline-block;
        // border-radius: 10rem;
        border-radius: 5px;
        font-size: 2rem;
        margin-bottom: 20px;
        // animation-name: moveInBottom;
        // animation-duration: 1s;
        // animation-timing-function: ease-out;
    }

    &--white {
        background-color: $font-white-color;
        color: $primary-color-first;
    }
    &:hover {
        background-color: $primary-color-third;
        color: $font-white-color;
    }
}



