body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    // font-weight: 300;
    /*font-size: 16px;*/
    // overflow: hidden;
    
    line-height: 2;
}


.commertial--main {
    font-weight: bold;
    font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1900 - 700))) !important;
}

.commertial--sub {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 700))) !important;
}
