// .loading_screen {
//     background-color: white;
//     width: 100%;
//     height: 100vh;
//     display: block;
//     position: fixed;
//     z-index: 999;

//     img {
//         @include center;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
// }
.cards_container__title{
    
}




.cards_container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 15rem; 
}

.card-img-top {
    height: 14rem !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.card-body {
    padding: 0.85rem !important;
}

.card-text {
    font-size: 1.3rem;
    color: #00000096;
    line-height: 2.1rem;
}

.card {
    width: 21rem !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 16px 40px !important;
    margin: 2rem;
}

.subcription {
    max-width: 100%;
    background-color: $primary-color-second;
    position: relative;
    background: linear-gradient(
            0deg,
            rgba(2, 0, 36, 0.5) 0%,
            rgba(29, 47, 51, 0.4) 100%
        ),
        url(https://ak1.picdn.net/shutterstock/videos/20376331/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding: 6vw;
}

// @media (max-width:900px) {

//     .subcription {


//         &__registration-box {
//             text-align: center;


//             ul {

//                 li {
//                     display: block;
//                 }
//             }
//         }
//     }
// }

.subcription-textbox {
    max-width: $max-width;
    height: 15rem;
    color: $font-white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-family: "Varela Round", sans-serif;
    text-align: center;
    position: relative;
    margin-top: 5rem;

    &--main {
        display: block;
        position: relative;

        &::first-letter {
            color: $primary-color-first;
        }
    }

    &--sub {
        display: block;
        font-size: 1.9rem;
        position: relative;
        top: .5rem;
        left: .2rem;

    }
}

.commertial_section {
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    // height: 120vh;

    &__first {
        width: 100%;
        height: 55rem;
        margin-bottom: 15rem;

        &__img {
            width: 100%;
            margin: 0 auto;
            background-image: url("../../img/commertial_1.jpg");
            height: 100%;
            background-size: cover;
            background-position: center;
            box-shadow: 0px 0px 20px 15px #0000001a;
        }

        &__text {
            max-width: 50rem;
            margin: 0 auto;
            text-align: center;

        }
    }

    &__second {
        width: 100%;
        height: 55rem;

        &__text {
            max-width: 50rem; 
            text-align: center;
            margin: 0 auto;
            grid-column: 1/2;
            grid-row: 1/2;

        }

        &__img {
            grid-column: 2/3;

            grid-row: 1/2;
            width: 100%;
            margin: 0 auto;
            background-image: url("../../img/commertial_2.jpg");
            height: 100%; 
            background-size: cover;
            background-position: center;
            box-shadow: 0px 0px 20px 15px #0000001a;
        }
    }
}






.blogers_section {
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    // position: relative;

    .blogers-textbox {
        color: $primary-color-second-font;
        text-transform: uppercase;
        backface-visibility: hidden;
        font-family: FiraGO-Regular;
        text-align: center;
        margin-top: 4rem;

        &--main {
            display: block;
            font-size: 4rem;
            position: relative;
            letter-spacing: 10px;
            font-weight: 400;

            &::first-letter {
                color: $primary-color-first;
            }
        }

        &--sub {
            display: block;
            font-size: 2rem;
            position: relative;
            top: 0.5rem;
            letter-spacing: 1px;
        }
    }

    &__grid {
        max-width: 100%;
        // height: 70vh;
        margin-top: 10rem;
        position: relative;

        &__box {
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            position: relative;

            &__img {
                max-width: 100%;
                height: 40rem;
                object-fit: cover;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                background-size: cover;
                background: #f4f4f4;
                

                
            }

            /// ===  ===  === Hover on images
            &__hover {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                font-family: "Varela Round", sans-serif;
                position: absolute;
                left: 0;
                top: 0;
                color: $font-white-color;
                z-index: 20;
                opacity: 0;
                transition: bottom 0.5s,
                    opacity 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);

                &:hover {
                    opacity: 1;
                    bottom: 50rem;
                    transition: all 0.6s;
                    background: rgba(35, 49, 66, 0.5);
                }
            }

            /// ===  ===  === Hover on images

            // IMG shadow hover
            // .card-hover {
            //     @extend .blogers_section__grid__box__img;
            //     @include material-shadow(1);

            //     &:hover {
            //         @include material-shadow(4);
            //         transform: scale(1.05);

            //     }
            // }

            /// IMG shadow hover
        }
    }
}
